div.calendar 
{
	width: 200px;
	font-size: 12px;
	text-align: center;
	margin: 3px 0px 2px 0px;
	color:#fff;
}

div.calendar span.link {
	color:#fff;
}

div.bkg_calendar
{
	width: 200px;
	background: #000;
	border: 1px solid #b4b4b4;
	-moz-border-radius: 10px 10px;
	padding: 5px;
}

div#top
{	
	padding: 0px 5px 2px 5px;
	font-size: 11px;
}

div#top_right
{	
	float: right;
	padding-right: 0px;
	padding-bottom: 2px;
	text-align: right;
	font-size: 9px;
	margin-bottom: 2px;
}

div#top_right span.link
{	
	text-decoration: none;
}

div#top_left
{	
	float: left;
	padding-left: 0px;
	padding-bottom: 3px;
	text-align: left;
	font-size: 11px;
	margin-bottom: 2px;
}

div.calendar table
{
	font-size: 10px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing:0;
}

table.cal td
{
	border: 1px solid #000000;
} 

table.cal td
{
	padding: 1px;
}

table.cal td.selected
{
	background: #ffff00;
	color: #000;
	padding: 1px;
}
table.cal td.selected span.link {
        color:#000;
}
td.signed
{
	color: #ddd;
	background: #333;
	padding: 1px;
}

table.cal tr.top 
{
	font-weight: bold;
}

table.cal tr.top td 
{
	background-color:#3399cc;
	color:#fff;
}

span.cal_control
{
	background: #000000;
	color: #ffffff;
	padding: 0px 3px 1px 3px;
}

div.title {
	margin: 2px 0px 10px 0px; 
	font-weight: bold;
}

div.subtitle {
	font-weight: bold;
	margin: 5px 0px 2px 0px; 
}

div.subtitle_bkg {
	background: #42ffc7;
	font-weight: bold;
	margin: 10px 0px 0px 0px; 
}
